/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
  @import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=EB+Garamond:wght@500&family=Public+Sans:wght@300;400;700&display=swap');
.font{
  font-family: 'Amiri', serif;
  font-size: 30px;
  padding-top: 5px;
 
}

.font0{
  text-align: right;
}
.font2{
  color: green;
  font-weight: bold;
  font-size:18px;

}
.googlefont{
  font-family: 'Amiri', serif;
  text-align: right;
}
.googlefont2{
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
}

.judul_surat{
  font-size: 18px;
}
.arti{
  text-align: left;
  font-family: 'Public Sans', sans-serif;

}

.from_input{
  width: 100px;
}
.search_tengah{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .bg_conten{
 background:rgba(204, 233, 183, 0.95);
  
} */


.notefound{
  margin-top: 100px;
}
.notefound h1{
  font-size: 100px;
  text-align: center;
  color: rgb(125, 123, 123);
  font-weight: bold;
}

.card_transfarant {
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  height: 300px;
  border-radius: 5px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  text-align: center;
}
